*, *:before, *:after {
	box-sizing: border-box;
	position: relative;
}

html, body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #f2eaea;
	width: 100%;
	font-family: arial;
	font-size: 17px;
}

/*img {
	width: 100px

}*/

main {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
}

section {
	background: white;	
	margin: 9px;
	padding: 15px;
	box-shadow: 5px 5px 5px #d1cccc;
}

.sec1 {
	width: 67%;
}

.sec2 {
	display: flex;
	justify-content: center;
	width: 30%;
	text-align: center ;
	font-size: 12px;
	font-family: arial;
	
}

.sec2 div {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin: 7px;
}
.sec2 div img {
	width: 80px;
}
.sec2 div:first-child img {
	width: 100px;
	margin: 0 10px;
	margin-bottom: 20px;

}

.sec2 div p {
	display: flex;
	flex-direction: column;
	/*align-content: space-around;*/
	align-items: baseline;	
}

.sec3 {
	width: 35%;
}

.sec3 img {
	width: 47%;
	margin: 0 1%;
}

.sec3 p {
	font-family:"timesnewroman-italico";
	font-size: 20px;
}

.sec3 p:last-child {
	font-family: arial;
	text-align: right;
}

.sec4 {
	width: 62%;
}

.sec4 h2 {
	font-size: 100%;
	margin-left: 50px;
}

.div-sec4-1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.div-sec4-1 img {
	width: 40%;
	margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: -80px;
}

.div-sec4-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.div-sec4-2 h3 {
	font-size: 100%;
	font-weight: bold;
	margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.div-sec4-2 div ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
}

.div-sec4-2 div ul li:before{
	content: "- ";
}

.div-sec4-2-2 {
    margin-left: 20px;
}

.sec5 {
	width: 55.7%;
}

.sec5 p {
	font-size: 20px;
	/*line-height: 35px;*/
}

.sec6 {
	width: 25%;
}

.sec6 img {
	width: 80%;
	margin-top: 5px;
    margin-bottom: 5px;
    /*margin-right: 25px;*/
    margin-left: 25px;
}

.sec7 {
	width: 15%;
}

/*.sec7 div {
	display: flex;
	flex-direction: column;
}*/

.sec7 ul {
	/*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
    /*margin-right: 25px;*/
    margin-left: 0;	
    padding: 0;
    font-size: 20px;
    list-style: none;
    line-height: 40px;
}

.underline {
   text-decoration: none;
   position: relative;
 }   

.underline:after {
    position: absolute;
    height: 1px;
    margin: 0 auto;
    content: '';
    left: 0;
    right: 0;
    width: 100%;
    color: #000;
    background-color: blue;
    left: 0;
    bottom: -3px;
}
@font-face {
	font-family:"timesnewroman-italico";
	src:url(fonts/timesi.ttf);
}
